html {
    overflow: hidden;
}

body {
   width: 100vw;
   height: 100vh;

   margin: 0;
   padding: 0;
   
   display: flex;
   flex-direction: row;

   background-color: #0ab7cd;

   min-height: 961px;
}

.left-side {
    width: 50vw;
    height: 100vh;

    margin: 0;
    padding-top: 0px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    background-color: #ffffff;

    min-width: 557px;
}

.left-side h4 {
    margin: 0;
    padding-top: 50px;

    font-family: 'Open Sans', sans-serif;
    font-size: 140px;
    font-weight: 600;
    
    color: #0ab7cd;
}

.left-side img {
    padding-bottom: 120px;
    margin-right: 20px;
}

.left-side p {
    margin: 0;
    margin-right: 20px;
    padding-bottom: 20px;

    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 100;
}

.rigth-side {
    width: 100%;
    height: 100%;

    padding-top: 30px;

    display: flex;
    flex-direction: row;

    min-width: 930px;
}

#login {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    margin-left: -75px;
}

#login h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 600;

    margin-left: 40px;

    color: #ffffff;
    opacity: 0.8;
    transition: 3ms;

    cursor: pointer;

    padding-bottom: 10px;
}

#login h4:hover {
    transition: 3ms;
    opacity: 1.0;
}

#login img {
    padding-right: 50px;
}

#content {
    display: flex;
    flex-direction: column;

    padding: 65px;

    justify-content: center;
    align-items: center;
}

#content h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 600;

    margin: 0px;

    color: #ffffff;
}

#content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 100;

    color: #ffffff;
    opacity: 0.8;
}

.search-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.search-container input {
    width: 290px;
    height: 40px;

    padding-left: 15px;

    border: none;
    border-radius: 8px;

    color: #545454;
}

.search-container input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.search-container button {
    width: 150px;
    height: 40px;

    margin-left: 20px;

    border: none;
    border-radius: 8px;

    color: #ffffff;
    background-color: #007785;

    cursor: pointer;
    opacity: 0.8;
}

.search-container button:hover {
    opacity: 1.0;
}

#result-container {
    width: 500px;
    height: 800px;

    margin-top: 10px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

#result-container svg {
    fill: #ffffff;

    width: 200px;
    height: 200px;
}

#result-container h4 {
    font-size: 32px;

    color: #ffffff;
}